.h100 {
  height: 100% !important;
}

.w100 {
  width: 100% !important;
}

.tcenter {
  text-align: center;
}

.bg {
  background: var(--blue) !important;
}

.ant-btn.login-btn,
.ant-btn.login-btn:focus,
.ant-btn.login-btn:hover {
  background: var(--blue);
  border-color: var(--blue);
}

.login-input,
.login-input:focus,
.login-btn:hover {
  border-color: var(--blue) !important;
}

.login-form-con {
  padding: 20px !important;
  border-radius: 5px;
  border: 1px solid var(--shadow);
  box-shadow: 0px 0px 2px var(--shadow);
}

.ant-layout-sider {
  background: var(--blue);
  box-shadow: 0px 7px 8px var(--shadow);
}

.ant-menu-item-selected {
  color: var(--blue) !important;
}

.ant-menu {
  border: 0 !important;
}

.ant-layout-header {
  box-shadow: 0px 0px 10px var(--shadow);
  background: rgb(0, 44, 149) !important;
}

.conv-con {
  padding: 20px;
}

.bgw {
  background: white;
}

.qlist {
  box-shadow: 0px 0px 9px var(--shadow);
  border-radius: 5px;
}

.searchq {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100px;
}

.ant-list.qs {
  border: 0;
  border-radius: 0 !important;
  height: 100%;
  overflow: auto;
}

.ant-list-item {
  border: 0 !important;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qs-con {
  height: 500px;
}

.ant-list-item-content {
  flex: 0 !important;
}

.selected-q {
  background: #e4f7ff !important;
  box-shadow: 0px 3px 6px var(--shadow) !important;
}

.msg-timestamp {
  font-size: 10px;
}

.chat-con {
  box-shadow: 0px 0px 9px var(--shadow);
  border-radius: 5px;
  flex-direction: column !important;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-title {
  flex: 3;
}

.chat-actions {
  list-style: none;
  flex: 1;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.chat-actions > li {
  display: block;
  flex: 1;
  text-align: center;
}

.chat-box {
  flex: 1;
  flex-direction: column !important;
}

.chat-box-con {
  flex: 1 !important;
  overflow: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.ant-input.chat-input {
  border-radius: 30px !important;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 13px;
  border: 0;
  background: #e2e2ee;

}

.ant-input.chat-input::placeholder {
  color: #4f4f53;
  font-size: 13px;
}

.ant-input.chat-input:hover,
.ant-input.chat-input:focus {
  border: none;
}

.message {
  margin-bottom: 20px;
}

.agent-message-con {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.agent-message-con p {
  background: #e2e2ed;
  border-radius: 10px;
  padding: 15px;
  border-bottom-right-radius: 0;
  font-size: 12px;
  word-break: break-word;
  text-align: left
}

.client-message-con {
  display: flex;
  align-items: center;
}

.client-message-con p {
  background: #002798cc;
  border-radius: 10px;
  padding: 15px;
  color: white;
  border-bottom-left-radius: 0;
  font-size: 12px;
  word-break: break-word;
  text-align: left
}

.msg-con {
  width: 40%;
  font-size: 11px;
}
